[submodule "firmware/Components/As5048a"]
	path = firmware/Components/As5048a
	url = git@github.com:sylas-project/as5048a.git
[submodule "firmware/Components/FOC9"]
	path = firmware/Components/FOC9
	url = git@github.com:sylas-project/foc9.git
[submodule "firmware/Components/DRV8316"]
	path = firmware/Components/DRV8316
	url = git@github.com:sylas-project/drv8316.git
[submodule "sim"]
	path = sim
	url = git@github.com:arach9-project/bldc-sim.git
